# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# =platform: win-64
aiohttp
aiosignal
annotated-types
anyio
appdirs
async-timeout
ca-certificates
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
dataclasses-json
diskcache
exceptiongroup
fastapi
flaml
fonttools
frozendict
frozenlist
greenlet
h11
html5lib
idna
ipywidgets
jsonpatch
jupyter
jupyter-console
jupyterlab-widgets
kiwisolver
langchain
langsmith
libffi
lxml
marshmallow
matplotlib
multidict
multitasking
mypy-extensions
numexpr
numpy
openai
openssl
packaging
pandas
peewee
pillow
pip
platformdirs
pyautogen
pydantic
pydantic-core
pyparsing
python
python-dateutil
python-dotenv
pytz
pyyaml
qtconsole
qtpy
requests
send2trash
setuptools
six
sqlalchemy
sqlite
starlette
tenacity
termcolor
tk
tqdm
typing-extensions
typing-inspect
tzdata
urllib3
uvicorn
vc
vs2015_runtime
wcwidth
webencodings
wheel
widgetsnbextension
wikipedia
xz
yarl
yfinance
zlib